<header>
  <nav>
    <ul>
      <li><a href="/">Página Inicial</a></li>
      <li><a href="/pagina2">Página 2</a></li>
      <!-- Adicione outras opções de navegação conforme necessário -->
    </ul>
  </nav>
</header>