<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SALAFLUX</title>
  <link rel="stylesheet" href="/css/page1.css">
</head>
<body>

  <section class="hero">
    <h1>SALAFLUX</h1>
    <p>Mais do que uma sala, um espaço para possibilidades</p>
    <a href="/bookings"><button>Reservar</button></a>
  </section>

  <section class="agenda">
    <h2>Meu dia</h2>
    <div class="cards">
      <% for(let i = 0; i < 3; i++) { %>
      <a href="/cancel">
        <div class="card">
          <h3>Sala 1</h3>
          <p>Reunião para preparar a apresentação de sexta</p>
          <span>13:00</span>
        </div>
      </a>
      <% } %>
    </div>

    <h2>Amanhã</h2>
    <div class="cards">
      <% for(let i = 0; i < 3; i++) { %>
      <a href="/cancel">
        <div class="card">
          <h3>Sala 1</h3>
          <p>Reunião para preparar a apresentação de sexta</p>
          <span>13:00</span>
        </div>
      </a>
      <% } %>
    </div>
  </section>

</body>
</html>